
 <div *ngFor="let product of datas" >
    

    <div *ngIf="product.id===finId()">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img [src]="product.img" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title title">{{product.nom | slice:0:10}}
                   
                        <span *ngIf="product.nom.length>10">...</span>
                    </h5> 
                    <h5 class="card-title title">{{product.annee}} </h5>

                    <h5 *ngIf="product.real" class="artist">{{product.real}}</h5> 
                  <p class="card-text">{{product.synopsis}}</p>
                
                </div>
              </div>
            </div>
          </div>
  
    </div>
</div>


<div *ngFor="let product of datas2" >
    <div *ngIf="product.id===finId()">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img [src]="product.img" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title title">{{product.nom | slice:0:10}}
                   
                        <span *ngIf="product.nom.length>10">...</span>
                    </h5> 
                    <h5 class="card-title title">{{product.annee}} </h5>

                    <h5 *ngIf="product.real" class="artist">{{product.real}}</h5> 
                  <p class="card-text">{{product.synopsis}}</p>
                
                </div>
              </div>
            </div>
          </div>
  
    </div>
</div>



