<p>product-card works!</p>
<div class="container">
<div *ngFor="let film of films">
<div class="card">
    <img [src]="film.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{film.nom}}</h5>
      <h5 class="card-title">{{film.real}}</h5>
      <h5 class="card-title">{{film.synopsis}}</h5>
      <h5 class="card-title">{{film.annee}}</h5>
      <p class="card-text">{{film.synopsis}}</p>
      <a routerLink="details" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
